.lobby-entry {
  position: relative;
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 3vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.lobby-name {
  text-align: left;
  font-weight: bold;
  font-size: 1.8rem;
  margin: 0 0 20px 0;
}

.lobby-description {
  text-align: left;
  width: 50%;
  margin: 20px 0 0 0;
  font-weight: 300;
}

.lobby-players {
  right: 20px;
  bottom: 5px;
  position: absolute;
}
.lobby-players * {
  border-radius: 100%;
  width: 44px;
  height: 44px;
  line-height: 44px;
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
}
.lobby-players div {
  padding: 0;
  margin: 5px;
  font-weight: bold;
  background-color: #666;
  cursor: default;
}

.lobby-button {
  position: absolute;
  top: 15px;
  right: 25px;
  min-width: 150px;
  border: 0;
  background-color: rgb(124, 255, 141);
  color: black;
}
.lobby-button:hover {
  background-color: rgb(177, 255, 188);
}

/* Individual lobby page styling */

#lobby-players-container, #lobby-settings-container {
  position: absolute;
  width: 50%;
  padding: 1% 2%;
  box-sizing: border-box;
}
#lobby-settings-container {
  right: 0;
}

#lobby-settings-map-list {
  overflow-y: scroll;
  max-height: 256px;
}
.lobby-settings-map-entry {
  margin-bottom: 10px;
}

#lobby-players-list {
  margin-bottom: 25vh;
}

.lobby-player {
  position: relative;
  width: 80%;
  margin: 2% 10%;
  padding: 20px 30px;
  border: 2px solid white;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
}

.lobby-player-kick {
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translate(-100%, -50%);
  font-size: 1.25rem;
  color: red;
  cursor: pointer;
}

.lobby-player-avatar {
  width: 52px;
  border: 3px solid rgb(112, 191, 255);
  border-radius: 100%;
}
.lobby-host-avatar {
  border: 3px solid #faa81a;
}

.lobby-player-name {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  margin: 0 0 0 20px;
  font-size: 1.6rem;
}

.lobby-player-ready {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  font-size: 1.8em;
}

#lobby-map-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  min-width: 150px;
  border: 0;
  background-color: rgba(255, 255, 255, 0.2);
}
#lobby-map-button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

#lobby-map-history-button {
  position: absolute;
  right: 5px;
  bottom: -10px;
  margin: 0;
  transform: translateY(100%);
  font-size: 0.8rem;
}
#lobby-map-history-button a {
  color: rgba(255, 255, 255, 0.8);
}

#lobby-map-history-container {
  position: fixed;
  left: 30%;
  width: 40%;
  top: 50%;
  padding: 15px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border: 2px solid white;
  border-radius: 10px;
  text-align: center;
  pointer-events: none;
  transform: translateY(calc(-50% + 10vh));
  opacity: 0;
}
#lobby-map-history-container {
  transition: transform 0.5s, opacity 0.5s;
}
#lobby-map-history-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.2rem;
  user-select: none;
  cursor: pointer;
}

#lobby-ready-button {
  transition: opacity 0.2s;
}

#lobby-force-button {
  display: none;
  color: rgb(255, 80, 80);
}

#lobby-chat-container {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  left: 2vw;
  bottom: 2vw;
  width: 30vw;
  height: 18%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  overflow: hidden;
}

#lobby-chat-output {
  padding: 1vw;
  overflow-y: scroll;
}

#lobby-chat-input {
  border: 0;
  padding: 5px 15px;
  width: 100%;
  text-align: left;
  border-radius: 0;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.05);
}
#lobby-chat-input:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#lobby-spectate-button {
  position: fixed;
  left: 34vw;
  bottom: 2vw;
  min-width: 160px;
  box-shadow: none;
  backdrop-filter: blur(5px);
}
