.lobby-entry {
  position: relative;
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 3vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.lobby-name {
  text-align: left;
  font-weight: bold;
  font-size: 1.8rem;
  margin: 0 0 20px 0;
}

.lobby-description {
  text-align: left;
  width: 50%;
  margin: 20px 0 0 0;
  font-weight: 300;
}

.lobby-players {
  right: 20px;
  bottom: 5px;
  position: absolute;
}
.lobby-players * {
  border-radius: 100%;
  width: 44px;
  height: 44px;
  line-height: 44px;
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
}
.lobby-players div {
  padding: 0;
  margin: 5px;
  font-weight: bold;
  background-color: #666;
  cursor: default;
}

.lobby-button {
  position: absolute;
  top: 15px;
  right: 25px;
  min-width: 150px;
  border: 0;
  background-color: rgb(124, 255, 141);
  color: black;
}
.lobby-button:hover {
  background-color: rgb(177, 255, 188);
}

/* Individual lobby page styling */

#lobby-players-container, #lobby-settings-container {
  position: absolute;
  width: 50%;
  padding: 1% 2%;
  box-sizing: border-box;
}
#lobby-settings-container {
  right: 0;
}

.lobby-player {
  position: relative;
  width: 80%;
  margin: 2% 10%;
  padding: 20px 30px;
  border: 2px solid white;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
}

.lobby-player-avatar {
  width: 52px;
  border: 3px solid rgb(112, 191, 255);
  border-radius: 100%;
}
.lobby-host-avatar {
  border: 3px solid #faa81a;
}

.lobby-player-name {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  margin: 0 0 0 20px;
  font-size: 1.6rem;
}

.lobby-player-ready {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  font-size: 1.8em;
}

#lobby-map-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  min-width: 150px;
  border: 0;
  background-color: rgba(255, 255, 255, 0.2);
}
#lobby-map-button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

#lobby-ready-button {
  transition: opacity 0.2s;
}
